@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-size: 28px;
}

html,
body,
#root {
  /* height: 100%; */
  /* margin: 0; */
  /* max-height: 100%; */
  /* @apply h-full w-full min-h-full min-w-full max-h-full max-w-full overflow-hidden; */

  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  @apply font-bold text-white;
}

.guideline {
  @apply border border-gamdom bg-gamdom bg-opacity-50 p-4 box-border;
}

.text-shadow-light {
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.text-shadow-medium {
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.text-shadow-heavy {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
}

.guideline {
  @apply border-0 bg-transparent;
}

.loop-container {
  position: relative;
  overflow: hidden;
}

.loop-content {
  animation: scroll-vertical 7s linear infinite;
}

@keyframes scroll-vertical {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-101%);
  }
}

.overflown {
  max-height: calc(587px);
}

.scroll-container {
  height: 100%; /* Set the height of the scrolling area */
  overflow: hidden; /* Hide overflow */
  position: relative; /* For positioning children */
}

.scroll-content {
  display: flex;
  flex-direction: column; /* Stack items vertically */
}

.scroll-item {
}
